<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="category-draw(category, isCategoryDrawn, registeredPlayers, draw)" class="container-fluid">
    <div class="row gx-md-5">
        <div id="main" class="mx-auto custom-card p-3 p-md-5">
            <h1 th:text="#{${'categories.name.' + category.category.name}}"></h1>

            <!-- If class is not drawn yet -->
            <div class="row">

                <div class="col-md-4 text-start mx-auto" th:if="${!isCategoryDrawn}">
                    <div class="main-upper" th:if="${!registeredPlayers.isEmpty()}">
                        <p th:text="#{draw.notDrawnTitle}"></p>
                    </div>
                    <div th:if="${registeredPlayers.isEmpty()}">
                        <p th:text="#{draw.notDrawnNoPlayers}"></p>
                    </div>
                    <!-- List of registered players if there are any -->
                    <div class="col-md-7" id="registered-players" th:if="${!registeredPlayers.isEmpty()}">
                        <h3 class="text-start" th:text="#{draw.registeredPlayers}"></h3>
                        <div th:each="playerList : ${registeredPlayers}">

                            <p th:if="${playerList.size == 1}"
                               th:text="${playerList.get(0).firstName} + ' ' + ${playerList.get(0).lastName} + ' ' + ${playerList.get(0).club.name}">
                            </p>
                            <p th:if="${playerList.size == 2}"
                               th:text="${playerList.get(0).firstName} + ' ' + ${playerList.get(0).lastName} + ' ' + ${playerList.get(0).club.name}
                 + ' / ' + ${playerList.get(1).firstName} + ' ' + ${playerList.get(1).lastName} + ' ' + ${playerList.get(1).club.name}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If class is drawn -->
            <div th:if="${isCategoryDrawn && draw != null}">
                <div id="group-section">
                    <div th:each="group : ${draw.groups}" class="row custom-card col-sm-11 mx-auto mt-3 mb-4 d-flex align-items-start p-3">
                        <h3 class="text-start ms-2 mb-3"
                            th:text="#{draw.group(${group.name})}"></h3>
                        <!-- Group table -->
                        <div class="col-md-8" th:insert="fragments/group-draw :: group-draw(group=${group})">
                        </div>
                        <!-- Individual matches in group -->
                        <div class="col-sm-12 pt-4" th:with="matches = ${group.matches}">
                            <div id="matches" th:if="${!matches.isEmpty}" class="justify-content-center ms-0">
                                <h5 class="black text-start fw-bolder" th:text="#{draw.pool.matches}"></h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th th:text="#{draw.pool.time}"></th>
                                            <th></th>
                                            <th></th>
                                            <th th:text="#{draw.pool.result}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="group-matches" th:each="match : ${matches}" th:with="playerOneList=${match.firstPlayer}, playerTwoList=${match.secondPlayer}">
                                            <td>
                                                <span th:if="${match.startTime != null}" th:text="${match.startTime}"></span>
                                                <span th:if="${match.startTime == null}" th:text="#{draw.pool.noTime}"></span>
                                            <td>
                                            <span th:replace="fragments/player-fragment :: players(playerList=${playerOneList})"></span>
                                            </td>
                                            <td >
                                                <span th:replace="fragments/player-fragment :: players(playerList=${playerTwoList})"></span>
                                            </td>
                                            <td>
                                                <p class="pe-2 d-inline"
                                                   th:each="game : ${match.result.gameList}"
                                                th:text="${game.firstRegistrationResult} + '-' + ${game.secondRegistrationResult}">
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section th:if="${draw.playOff != null}" th:replace="fragments/playoff-draw :: playoff(playoffRounds=${draw.playOff})"></section>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>