<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="category-draw(competitionId, category, isCategoryDrawn, registeredPlayers, draw, shouldShowPlayoff)" class="container-fluid" th:with="categoryType=${T(com.graphite.competitionplanner.category.domain.CategoryType)}">
    <div class="row gx-md-5">
        <div id="main" class="mx-auto custom-card p-3 p-md-5">
            <h1 th:text="${#strings.defaultString(#messages.msgOrNull('categories.name.' + category.category.name), category.category.name)}"></h1>

            <!-- If class is not drawn yet -->
            <div class="row" th:if="${!isCategoryDrawn}">

                <div class="col-md-6 text-center mx-auto py-4">
                    <div class="main-upper" th:if="${(category.category.type == categoryType.DOUBLES and !registeredPlayers.isEmpty()) or
                    (category.category.type == categoryType.SINGLES and registeredPlayers.numberOfPlayers > 0)}">
                        <p class="fs-5" th:text="#{draw.notDrawnTitle}"></p>
                    </div>
                    <div th:if="${(category.category.type == categoryType.DOUBLES and registeredPlayers.isEmpty()) or
                    (category.category.type == categoryType.SINGLES and registeredPlayers.numberOfPlayers == 0)}">
                        <p th:text="#{draw.notDrawnNoPlayers}"></p>
                    </div>
                </div>
                <!-- List of registered players if there are any -->
                <div class="col-12 text-start py-4 rounded" th:if="${(category.category.type == categoryType.DOUBLES and !registeredPlayers.isEmpty()) or
                    (category.category.type == categoryType.SINGLES and registeredPlayers.numberOfPlayers > 0)}">

                    <div class="text-center" id="registered-players" >
                        <h3 class="text-center" th:text="#{draw.registeredPlayers}"></h3>

                        <div th:if="${category.category.type == categoryType.DOUBLES}" id="player-list" th:each="playerList : ${registeredPlayers}">
                            <span th:replace="fragments/player-fragment :: players(playerList=${playerList})">
                            </span>
                        </div>
                        <div th:if="${category.category.type == categoryType.SINGLES}">
                            <div th:each="playerGrouping : ${registeredPlayers.groupingsAndPlayers}" class="pb-3">
                                <div class="category-heading">
                                    <p class="mb-0" th:text="${playerGrouping.key}"></p>
                                </div>
                                <div th:each="player : ${playerGrouping.value}" class="mt-2 d-flex">
                                    <a class="player-name clickable text-black text-decoration-none" th:href="'/players/' + ${competitionId} + '/' + ${player.id}" th:text="${player.lastName + ', ' + player.firstName }"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If class is drawn -->
            <div th:if="${isCategoryDrawn && draw != null}">
                <div id="group-section">
                    <div th:each="group : ${draw.groups}" class="row custom-card col-sm-12 mx-auto mt-3 mb-4 d-flex align-items-start p-3">
                        <h3 class="text-start mb-3"
                            th:text="#{draw.group(${group.name})}"></h3>
                        <!-- Group table -->
                        <div class="col-md-9" th:insert="fragments/group-draw :: group-draw(group=${group})">
                        </div>
                        <!-- Individual matches in group -->
                        <div class="col-sm-12 pt-4" th:with="matches = ${group.matches}">
                            <div id="matches" th:if="${!matches.isEmpty}" class="justify-content-center ms-0">
                                <h5 class="black text-start fw-bolder" th:text="#{draw.pool.matches}"></h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th th:text="#{draw.pool.time}"></th>
                                            <th></th>
                                            <th></th>
                                            <th th:text="#{draw.pool.result}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="group-matches" th:each="match : ${matches}" th:with="playerOneList=${match.firstPlayer}, playerTwoList=${match.secondPlayer}">
                                            <td>
                                                <span th:if="${match.startTime != null}" th:text="${#temporals.format(match.startTime, 'yyyy-MM-dd HH:mm')}"></span>
                                                <span th:if="${match.startTime == null}" th:text="#{draw.pool.noTime}"></span>
                                            <td>
                                                <span th:replace="fragments/player-fragment :: players(playerList=${playerOneList})"></span>
                                            </td>
                                            <td>
                                                <span th:replace="fragments/player-fragment :: players(playerList=${playerTwoList})"></span>
                                            </td>
                                            <td>
                                                <p class="pe-2 d-inline"
                                                   th:each="game : ${match.result.gameList}"
                                                   th:text="${game.firstRegistrationResult} + '-' + ${game.secondRegistrationResult}">
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${shouldShowPlayoff}">
                        <section th:replace="fragments/playoff-draw :: playoff(playoffRounds=${draw.playOff})"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>