<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<section id="registered-players" class="col-sm-8 mx-auto">
    <div th:each="element : ${groupingsAndPlayers}" class="mb-3">
        <div th:if="${sortingChoice.name.equalsIgnoreCase('category')}" class="heading">
            <p class="mb-0 fw-bolder text-uppercase" th:text="${#strings.defaultString(#messages.msgOrNull('categories.name.' + element.key), element.key)}">
            </p>
            <hr class="bg-black mt-0">
        </div>
        <div th:if="${sortingChoice.name.equalsIgnoreCase('club')} or ${sortingChoice.name.equalsIgnoreCase('name')}" class="heading">
            <p class="mb-0 fw-bolder text-uppercase" th:text="${element.key}"> </p>
            <hr class="bg-black mt-0">
        </div>
        <a th:each="player : ${element.value}" th:text="${player.firstName} + ' ' + ${player.lastName}"
           th:href="'/players/' + ${competitionId} + '/' + ${player.id}"
           class="player-name me-2 text-black text-decoration-none">
        </a>
    </div>
</section>
</body>
</html>